<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Login Page</title>
		<link rel="stylesheet" type="text/css" href="../Resources/css/bootstrap.css"></link>
	</head>
	<body>
		<form action="../controllers/loginHandler.php" method="post">
			<div class="form-group">
			  <label for="Uname">Username</label>
			  <input type="text" class="form-control" id="Uname" name = "Uname" placeholder="Enter Username">
			</div>
			<div class="form-group">
			  <label for="Pword">Password</label>
			  <input type="text" class="form-control" id="Pword" name = "Pword" placeholder="Enter Password">
			</div>
			<button type="submit" class="btn btn-primary" name= "loginSubmit" value="Login">Login</button>
			<a href="../index.html">Main Menu</a>
		  </form>
	</body>
</html>