<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>"Registration for ADMIN Form"</title>
	</head>
	<body>
		<form action="../controllers/registerHandler.php" method="POST">
		<label>First Name: </label>
			<input type ="text" name = "fname"><br/>
			
			<label>Last Name: </label>
			<input type ="text" name = "lname"><br/>
			
			<label>UserName: </label>
			<input type ="text" name = "uname"><br/>
			
			<label>Password: </label>
			<input type ="text" name = "pword"><br/>
			
			<label>Admin Code: </label>
			<input type = "text" name = "acode"><br/>
			<input type="submit" name = "Admin" value="Request Admin">
			<a href="index.html">Main Menu</a>
		</form>
	</body>
</html>